.main_main {
  position: relative;
  height: 100%;
  width: 100%;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.main_utilities {
  position: absolute;
}

#main_canvas {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  /* position: absolute; */
}
