.form_main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 100%;
  font-size: 12rem;
}

.form_main > * {
  font-size: 10%;
}

.form_image_preview {
  width: 40%;
}
