.point_main {
  width: 20px;
  height: 20px;
  background-color: lime;
  border-radius: 50%;
  border: none;
  margin-top: -10px;
  margin-left: -10px;
  outline: none;
  backface-visibility: initial;
}

.point_main:active,
.point_main:hover {
  background-color: red;
  /* width: 40px;
  height: 40px; */
  transform: scale(1.2);
  margin-top: -20px;
  margin-left: -20px;
  border: 2px solid black;
  z-index: 0;
}
