.point_details_main {
  /* animation: fadein 1s ease-in-out;
  animation-direction: alternate; */
  transition: all 0.5s linear;
  backface-visibility: hidden;
  /* transform: translateZ(0);
  -webkit-transform: translateZ(0); */
}

.point_details_image {
  max-width: 80%;
}

/* .point_details_content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  font-size: 1.3rem;
  margin: auto;
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
